*{
    margin: 0;
    padding: 0;
}
.main{
background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/75b0ed49-75ab-4a63-bd45-37bc2c95cb73/web/IN-en-20250623-TRIFECTA-perspective_ae5833b7-6ce5-4e88-853e-014f38c506f1_large.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
height: 100vh; 
position: relative;
width: 100%;
}
.main::before {
    content: "";
    position: absolute;
    inset: 0; 
    background: rgba(0, 0, 0, 0.7); 
    z-index: 0;
}
.main nav{
    display: flex;
    position: relative;
    z-index: 1;
    max-width: 60%;
    padding-top: 15px;
    margin: auto;
    justify-content: space-between;
}
.navbtneng{
    padding: 9px 22px;
    font-weight: bold;
    font-family: sans-serif;
    background: transparent;
    color: white;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid black;
}
#navbtnred{
    background-color: red;
    border: none;
}
.middleportion{
color: white;
    font-family: sans-serif;
    margin: auto;
    font-size: xx-large;
    position: relative;
    max-width: 45%;
    padding-top: 15%;
    text-align: center;
}
.one{
     font-size: 62px;
    font-weight: bolder;
}
.two{
    font-size: 20px;
    padding-top: 2%;
    font-weight: 700;
}
.three{
    font-size: 20px;
    padding-top: 2%;
}
.email{
    font-size: 20px;
    background: none;
    border: 1px solid #565555;
    border-radius: 2px;
    text-align: justify;
    height: 3vh;
    width: 60%;
    padding: 10px;
}.getstarted{
    background-color: red;
    color: #f3f3f3;
    height: 5vh;
    width: 32%;
    padding: 2px;
    font-size: 25px;
    border: none;
    border-radius: 4px;

}
.imputmail{
display: flex;
    padding: 3%;
    gap: 11px;
}


